.popup {
    position: fixed;


    display: flex;
    align-items: center;
    gap: 19px;

    border: solid 1px var(--grey-light);
    border-radius: 18px;

    background: var(--white);

    width: 33.3125rem;
    height: 6.6875rem;

    padding-left: 14px;

    z-index: 5;
}

.title {
    margin-top: 0;
    margin-bottom: 0.2vw;
}

.text {
    margin: 0;
}

.linkFailure {
    max-width: 475px;
    height: 11.375rem;

    gap: 3rem;

    padding-right: 1rem;
}

.logoIconLittle {
    position: absolute;
    left: 3.5rem;
    top: 3rem;
}

.copyWrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.input {
    display: flex;
    align-items: center;

    width: 100%;
    height: 2.375rem;

    border-radius: 0.625rem;

    font-size: 0.875rem;

    margin-top: 1.375rem;
    padding-left: 0.6875rem;

    border: solid 1px var(--grey-light);
}

.copyButton {
    position: absolute;
    top: 0.23rem;
    right: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);

    width: 1.875rem;
    height: 1.875rem;

    border-radius: 0.4375rem;

    cursor: pointer;
}

.copyButton svg {
    fill: var(--white);

    width: 1rem;
    height: 1rem;
}

@media (max-width: 800px) {
    .linkFailure {
        max-width: 417px;
    }
}

@media (max-width: 600px) {
    .linkFailure {
        flex-direction: column;
        gap: 2rem;

        height: max-content;
        padding: 2rem;
    }

    .linkFailure .title {
        margin-bottom: 0.8rem;
    }

    .linkFailure .title,
    .linkFailure .text {
        text-align: center;
    }

    .copyWrapper {
        max-width: 294px;
    }

    .popup {
        width: 100%;

        left: 0;
        right: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}