.button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /* padding: 10px; */

    cursor: pointer;
    text-align: center;
    border: none;

    font-size: 14px;

    transition: all 0.2s;
}

.l {
    width: 17.6875rem;
    height: 2.85375rem;

    border-radius: 1.4375rem;
}

.m {
    width: 10.375rem;
    height: 2.875rem;

    border-radius: 0.625rem;

    font-size: 1rem;
}

.m svg {
    width: 1.0625rem;
}

.s {
    width: 6rem;
    height: 2rem;

    font-size: 0.75rem;

    border-radius: 0.3125rem;
}

.rounded {
    width: 4.1875rem;
    height: 4.1875rem;

    border-radius: 100%;

    font-size: 2rem;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary .download {
    fill: var(--white);
}

.primary .upload,
.primary .filter {
    stroke: var(--white);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--black);
    background: none;
    border: 2px solid var(--grey-light);
}

.ghost .download {
    fill: var(--black);
}

.ghost .calculate {
    fill: var(--black);
}

.ghost .upload,
.ghost .filter {
    stroke: var(--black);
}

.ghost:hover {
    background-color: var(--grey-light);
}

.symbol {
    display: inline-block;

    margin-right: 10px;

    vertical-align: middle;
}

.hiddenSymbol {
    margin: 0;
}

.rounded .symbol {
    margin-right: 0;
}

.rounded .content {
    display: none;
}

.upload,
.filter {
    stroke-width: 2;
}

.download {}

.add {
    font-size: 1rem;
}

.calculate {
    display: none;
}

@media (max-width: 900px) {
    .m {
        width: 12rem;
    }

    .symbol {
        margin: 0;
    }

    .rounded {
        width: 26rem;
        height: 2.77rem;

        border-radius: 1rem;

        font-size: 1.1rem;
    }

    .rounded .content {
        display: block;
    }

    .rounded .symbol {
        display: none;
    }

    .calculate {
        display: block;

        fill: var(--white);
    }
}

@media (max-width: 600px) {
    .symbButtons {
        width: 2.875rem;

        border-radius: 100%;
    }

    .rounded {
        width: 100%;
        height: 3rem;

        border-radius: 1.25rem;

        font-size: 1.17rem;
    }
}