.button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /* padding: 10px; */

    cursor: pointer;
    text-align: center;
    border: none;

    font-size: 14px;

    transition: all 0.2s;
}

.l {}

.m {
    width: 10.375rem;
    height: 2.875rem;

    border-radius: 0.625rem;
}

.m svg {
    width: 1.0625rem;
}

.s {
    width: 6rem;
    height: 2rem;

    font-size: 0.75rem;

    border-radius: 0.3125rem;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary .download {
    fill: var(--white);
}

.primary .upload {
    stroke: var(--white);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--black);
    background: none;
    border: 2px solid var(--grey-light);
}

.ghost .download {
    fill: var(--black);
}

.ghost .upload,
.ghost .filter {
    stroke: var(--black);
}

.ghost:hover {
    background-color: var(--grey-light);
}

.symbol {
    display: inline-block;

    margin-right: 10px;

    vertical-align: middle;
}

.upload,
.filter {
    stroke-width: 2;
}

.download {}

.add {
    font-size: 1rem;
}

@media (max-width: 900px) {
    .m {
        width: 3rem;
    }

    .symbol {
        margin: 0;
    }
}