.blurScreen {
    transition: all 0.4s;

    filter: blur(5px);
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "header nav notification navmenu"
        "body body body body"
        "footer footer footer footer";
    grid-template-columns: auto 1fr 2rem 4rem;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}

.notification {
    grid-area: notification;

    padding-top: 0.5rem;
}

.header {
    grid-area: header;

    display: flex;
    align-items: center;
    gap: 1rem;

    margin-left: 1rem;
    margin-top: 0.5rem;
}

.navMenu {
    grid-area: navmenu;

    padding-top: 0.53rem;
    padding-left: 0.7rem;
}

.body {
    grid-area: body;

    margin-top: 2rem;

    padding: 0 2.5rem;
}

.footer {
    grid-area: footer;
}

.navigation {
    grid-area: nav;

    z-index: 3;
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-areas:
            "header nav notification navmenu"
            "body body body body"
            "footer footer footer footer";
        grid-template-columns: auto 1fr 2rem 4rem;
    }
}

@media (max-width: 900px) {
    .notification {
        padding: 0;
        width: 0;
    }

    .header {
        z-index: 5;

        padding: 0 2.5rem;
    }

    .body {
        margin-top: 6rem;

        padding: 0 2.5rem;

        min-height: 90vh;
    }
}

@media (max-width: 600px) {
    .body {
        padding: 0 2.5rem;
    }
}