.referenceMenuItem {
    width: 18rem;

    display: flex;
    align-items: center;
    gap: 9px;
}

.referenceMenuItem:not(:last-child) {
    margin-bottom: 1.9375rem;
}

.menuTitle {
    font-weight: 600;

    margin-bottom: 1.5rem;
}

.itemTitle {
    margin: 0;
    line-height: 1.5rem;
    padding-bottom: 0.2rem;
}

.itemText {
    color: var(--grey);

    margin: 0;
}