.exitIcon svg {
    stroke: var(--black);
    stroke-width: 2px;
}

.exitIcon {
    cursor: pointer;
}

@media (max-width: 900px) {
    .wrapper {
        top: 0;
        left: 0;

        display: block;
        width: 100%;
    }

    .exitIcon {
        position: absolute;
        top: 1.9rem;
        right: 2.5rem;

        width: 1.61rem;


        z-index: 2;
    }
}