.filterWrapper {
    width: 100%;
    max-width: 11.5rem;

    z-index: 5;
}

.valuesWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    max-height: 5rem;
    overflow-y: auto;
}

.valuesWrapper::-webkit-scrollbar {
    width: 0.375rem;
}

.valuesWrapper::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.375rem;
}

.valuesWrapper::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;

    background: var(--primary);
}

.hidden {
    visibility: hidden;
    display: none;
    pointer-events: none;
}

.visible {
    visibility: visible;
    margin-bottom: 1rem;
}

.arrowDown {
    transform: rotate(180deg);
}

.mainTitle {
    margin-bottom: 1rem;

    font-size: 1.125rem;
    font-weight: 500;
}

.closeFiltersArrow {
    display: none;
}

.numberInput {
    height: 1.625rem;
    width: 2rem;

    border: solid 1px var(--grey-light);
    border-radius: 0.4375rem;

    font-size: 0.8125rem;

    text-align: center;
}

.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.numberInput:focus {
    outline: none;
    border: solid 1px var(--primary);
}

.numberInputText {
    font-size: 0.8125rem;
    max-width: 6.75rem;
}

@media (max-width: 900px) {
    .filterVisible {
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }

    .filterWrapper {
        max-width: 100%;

        position: fixed;
        bottom: 0;
        padding: 2rem 1.86rem;

        background: var(--white);

        border-radius: 1.46rem 1.46rem 0 0;
        border: solid 1px var(--grey-light);
    }

    .titleWrapper {
        display: grid;
        grid-template-columns: auto 99%;
        align-items: baseline;

        margin-bottom: 2rem;
    }

    .mainTitle {
        text-align: center;
    }

    .closeFiltersArrow {
        display: block;

        cursor: pointer;

        transform: rotate(-90deg);
    }

    .filterWrapper {
        margin: 0 -2.5rem;
    }
}