.wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: var(--white);

    margin: auto;
    padding: 2.75rem 3.56rem;

    width: fit-content;
    height: fit-content;

    border: solid 1px var(--grey-light);
    border-radius: 0.9375rem;

    z-index: 3;
}

.selectIcon svg {
    width: 0.75rem;
    height: 0.82rem;

    fill: var(--black);
}

.selectArrow {
    cursor: pointer;
}

.selectNestedWrapper {
    margin-left: 0.75rem;
}

.title {
    font-weight: 500;
    text-align: center;

    margin-bottom: 1.93rem;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 1.75rem;

    margin-top: 2.625rem;
    margin-bottom: 2rem;
}

.popup {
    position: fixed;
    top: 2rem;
    right: 2rem;
}

@media (max-width: 900px) {
    .wrapper {
        width: 50%;
    }

}

@media (max-width: 800px) {
    .wrapper {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: 70%;
    }

    .popup {
        margin: auto;
        right: 0;
        left: 0;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .wrapper {
        width: 100%;
    }
}