@media (max-width: 900px) {
    .rowDesktop {
        column-gap: 0.5rem;
        row-gap: 2rem;

        font-size: 0.75rem;
    }

    .rowDesktop * {
        row-gap: 1rem;

        justify-items: center;
    }

    .rowDesktop *:not(.rowTag) {
        min-height: 2rem;
        height: 2rem;
    }

    .rowContent {
        display: flex;
        align-items: center;
    }

    .actions {
        align-items: center;

        padding-bottom: 0;
    }
}

@media (max-width: 600px) {
    .rowDesktop * {
        column-gap: 1.5rem;
        row-gap: 2rem;
    }

    .actions {
        gap: 0.5rem;
    }

}

.actions svg:not(.comment),
.iconWrapper svg {
    fill: var(--black);
}

.comment {
    stroke: var(--black);
    stroke-width: 1.67px;
}

.iconWrapper svg {
    height: 1.5rem;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.actions svg {
    width: 1rem;
    height: 1rem !important;

    min-width: 1rem;
    min-height: 1rem !important;

    cursor: pointer;
}

.underline {
    text-decoration: underline;

    cursor: pointer;
}


.rowsMobileWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.33rem;
    align-items: center;
}

.itemMobile {
    width: 100%;
    max-width: 30rem;
    min-height: 9.17rem;

    background-color: var(--white);

    border: solid 1px var(--grey-light);
    border-radius: 19px;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

    padding: 1.17rem 1.5rem;

    position: relative;
}

.firstItem {
    color: var(--grey);

    font-size: 0.83rem;
}

.secondItem {
    font-weight: 500;
}

.mobileTitle {
    color: var(--grey);

    font-size: 0.83rem;
}

.bottomItemsWrap {
    display: flex;
    gap: 1rem;

    margin-top: 0.83rem;
}

.hr {
    margin-top: 0.83rem;
}