@media (max-width: 900px) {
    .rowContent {
        display: flex;
        align-items: center;
    }
}

.iconWrapper svg {
    fill: var(--black);
}

.comment {
    stroke: var(--black);
    stroke-width: 1.67px;
}

.iconWrapper svg {
    height: 1.5rem;
}


.underline {
    text-decoration: underline;

    cursor: pointer;
}


.rowsMobileWrapper {
    flex-direction: column;
    gap: 1.33rem;
    align-items: center;
}

.itemMobile {
    width: 100%;
    max-width: 30rem;
    min-height: 9.17rem;
    min-height: fit-content;

    background-color: var(--white);

    border: solid 1px var(--grey-light);
    border-radius: 19px;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

    padding: 1.17rem 1.5rem;

    position: relative;
}

.itemMobile .iconWrapper,
.itemMobile .icon {
    background-color: var(--primary);

    width: fit-content;
    height: fit-content;
    border-radius: 100%;
}

.tableTextWrapper {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.tableText {
    display: -webkit-box;
    max-width: 17rem;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.itemMobile .icon {
    padding: 0.4rem;
}

.itemMobile .iconWrapper {
    padding: 0.5rem 0.75rem;
}

.itemMobile .iconWrapper svg {
    fill: var(--white);
}

.itemMobile .icon svg {
    stroke: var(--white);
}

.firstItem {
    color: var(--grey);

    font-size: 0.83rem;
}

.secondItem {
    font-weight: 500;
}

.mobileTitle {
    color: var(--grey);

    font-size: 0.83rem;
}

.bottomItemsWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: 0.83rem;
}

.hr {
    margin-top: 0.83rem;
}