.logo {
    width: 1.6875rem;
    height: 1.4375rem;

    fill: var(--grey);
}

.title {
    font-size: 1.5rem;

    color: var(--grey);
}

@media (max-width: 900px) {
    .logo {
        position: absolute;
        top: 1.9rem;
    }

    .title {
        display: none;
    }
}