.cardWrapper {
    background: var(--white);

    border: solid 1px var(--grey-light);
    border-radius: 15px;

    padding: 1.3125rem 1.5625rem;

    z-index: 1;
}

.bottom {
    margin-top: 1rem;
}

.title {
    position: relative;
}

.titleWrapper {
    display: flex;
    align-items: center;
}

.description,
.input {
    margin-bottom: 1rem;
}

.description {
    margin-top: 0.5rem;
}

.addButton {
    width: 100%;
    height: 2.85375rem;

    background-color: var(--primary);
    color: var(--white);

    border-radius: 1rem;


    margin-top: 1.5rem;
}

.titleMainWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.75rem;
}

.description,
.titleDesc {
    color: var(--grey);
}

.titleDesc {
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
}

.chargeCard .titleDesc,
.chargeCard .titleText {
    background-color: var(--primary);
    border-radius: 0.5rem;

    margin-top: 0;
    padding: 0.1rem 0.5625rem;

    color: var(--white);
    font-size: 0.875rem;
}

.chargeCard .titleDesc {
    margin: 0;
}

.chargeCard .bottom {
    display: flex;
    justify-content: center;

    margin-top: 3.875rem;
}

.inputCenter {
    display: flex;
    justify-content: center;
}

.iconLeft {
    align-self: baseline;

    margin-right: 1rem;
}

.tagIcon {
    display: none;
}

.symbolRight {
    position: absolute;
    right: 0;
}

.symbolRight svg {
    fill: var(--black);

    cursor: pointer;
}

.symbolRightL {
    display: none;
}

.symbolRightL svg {
    width: 1.33rem;
    height: 1.67rem;
}

.symbolRightS svg {
    width: 0.6rem;
    height: 0.8rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chargeCard .title {
    justify-content: center;

    padding-bottom: 1.3125rem;

    border-bottom: solid 1px var(--grey-light);
}

.bottomText {
    color: var(--grey);
}

.bottomText strong {
    color: var(--black);
}

.bottomTag {
    margin-top: 1.4375rem;
    margin-left: 0;
}

.bottomTagAtt {
    display: flex;
    align-items: last baseline;
    gap: 1.5rem;
}

.attachment {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-size: 0.875rem;

    color: var(--grey);

    cursor: pointer;
}

.attachment svg {
    fill: var(--grey);

    height: 0.8rem;
}

.tagSwap {
    display: flex;
    gap: 0.5rem;

    cursor: pointer;
}

.swapIcon svg {
    fill: var(--white);
}

@media (max-width: 600px) {
    .titleWrapper {
        width: 100%;
        align-items: center;
    }

    .titleWithoutIcon {
        width: 100%;

        text-align: center;
    }

    .iconLeftInvisible {
        display: none;
    }

    .titleWithIcon {
        margin-top: 0.2rem;
    }

    .tagIcon {
        display: flex;

        margin-right: 0.8125rem;

        align-self: baseline;
    }

    .symbolRightL {
        display: block;
    }

    .textRight {
        font-size: 1.23rem;
        font-weight: 500;
    }

    .chargeCard {
        padding: 1.3125rem 1.5625rem;

        cursor: pointer;
    }

    .chargeCard .title {
        justify-content: space-between;

        padding-bottom: 0;

        border-bottom: none;
    }

    .chargeCard .titleMainWrapper {
        display: block;
    }

    .chargeCard .titleDesc,
    .chargeCard .titleText {
        background-color: transparent;
        padding: 0;
    }

    .chargeCard .titleDesc {
        margin-bottom: 0.3rem;

        color: var(--grey);
    }

    .chargeCard .titleText {
        font-weight: 500;
        font-size: 0.92rem;

        color: var(--black);
    }

    .chargeCard .bottom {
        display: block;

        margin-top: 0.5rem;
    }

    .chargeCard .bottom button {
        display: none;
    }

    .mobileWithoutAttachment {
        display: none;
    }
}