.cardWrapper {
    background: var(--white);

    border: solid 1px var(--grey-light);
    border-radius: 15px;

    padding: 1.3125rem 1.5625rem;
}

.bottom {
    margin-top: 1rem;
}

.title {
    position: relative;
}

.titleWrapper {
    display: flex;
    align-items: last baseline;
}

.description,
.input {
    margin-bottom: 1rem;
}

.description {
    margin-top: 0.5rem;
}

.description,
.titleDesc {
    color: var(--grey);
}

.titleDesc {
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;
}

.chargeCard .titleDesc {
    margin-top: 0;
}

.inputCenter {
    display: flex;
    justify-content: center;
}

.iconLeft {
    align-self: baseline;
}

.iconLeft svg {
    fill: var(--black);

    margin-right: 1rem;
}

.iconLeftL svg {
    width: 3.375rem;
    height: 3.375rem;
}

.tagIcon {
    display: none;
}

.iconLeftS svg {
    width: 1.375rem;
    height: 1.375rem;
}

.symbolRight {
    position: absolute;
    right: 0;
}

.symbolRight svg {
    fill: var(--black);

    cursor: pointer;
}

.symbolRightL {
    display: none;
}

.symbolRightL svg {
    width: 1.33rem;
    height: 1.67rem;
}

.symbolRightS svg {
    width: 0.6rem;
    height: 0.8rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomText {
    color: var(--grey);
}

.bottomText strong {
    color: var(--black);
}

.bottomTag {
    margin-top: 1.4375rem;
    margin-left: 0;
}

.bottomTagAtt {
    display: flex;
    align-items: last baseline;
    gap: 1.5rem;
}

.attachment {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-size: 0.875rem;

    color: var(--grey);

    cursor: pointer;
}

.attachment svg {
    fill: var(--grey);

    height: 0.8rem;
}

@media (max-width: 600px) {
    .iconLeftL {
        display: none;
    }

    .titleWithLeftLIcon {
        text-align: center;
    }

    .titleWithLeftLIcon .titleDesc {
        margin-top: 0.8rem;
    }

    .tagIcon {
        display: block;
        background-color: var(--primary);

        width: fit-content;
        height: fit-content;
        border-radius: 100%;

        padding: 0.7rem;
        margin-right: 0.8125rem;

        align-self: baseline;
    }

    .tagIcon svg {
        stroke: var(--white);
    }

    .symbolRightL {
        display: block;
    }

    .textRight {
        font-size: 1.23rem;
        font-weight: 500;
    }

    .chargeCard {
        cursor: pointer;
    }
}