.cardWrapper {
    background: var(--white);

    border: solid 1px var(--grey-light);
    border-radius: 15px;

    padding: 1.3125rem 1.5625rem;
}

.title {
    margin-bottom: 0.5rem;

    position: relative;
}

.titleWrapper {
    display: flex;
    align-items: last baseline;
}

.description,
.input {
    margin-bottom: 1rem;
}

.description,
.titleDesc {
    color: var(--grey);
}

.titleDesc {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.inputCenter {
    display: flex;
    justify-content: center;
}

.iconLeft svg {
    fill: var(--black);

    margin-right: 1rem;
}

.iconLeftL svg {
    width: 3.375rem;
    height: 3.375rem;
}

@media (max-width: 600px) {
    .iconLeftL {
        display: none;
    }

    .titleWithLeftLIcon {
        text-align: center;
    }

    .titleWithLeftLIcon .titleDesc {
        margin-top: 0.8rem;
    }
}

.iconLeftS svg {
    width: 1.375rem;
    height: 1.375rem;
}

.symbolRight {
    position: absolute;
    right: 0;
}

.symbolRight svg {
    fill: var(--black);

    width: 0.6rem;
    height: 0.8rem;

    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomText {
    color: var(--grey);
}

.bottomText strong {
    color: var(--black);
}

.bottomTag {
    margin-top: 1.4375rem;
    margin-left: 0;
}

.bottomTagAtt {
    display: flex;
    align-items: last baseline;
    gap: 1.5rem;
}

.attachment {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-size: 0.875rem;

    color: var(--grey);

    cursor: pointer;
}

.attachment svg {
    fill: var(--grey);

    height: 0.8rem;
}