.s,
.fileWrapper {
    width: 100%;
    position: relative;

    border-radius: 16px;
    border: 2px dashed var(--input-border, var(--grey-light));

    padding: 0.8125rem;

    background-color: var(--white);
}

.s {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.l {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    border-radius: 16px;
    border: 2px dashed var(--input-border, var(--grey-light));

    padding: 2.4rem;

    background-color: var(--white);
}

.text {
    font-weight: 500;
}

.realInput {
    width: fit-content;
    height: fit-content;

    background-color: var(--white);

    font-size: 0.93rem;

    border-radius: 0.8rem;
    border: 1px solid var(--input-border, var(--grey-light));

    padding: 0.2rem 0.8rem;

    cursor: pointer;
}

.fakeInput {
    display: none;
}

.l .wrapperText {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0;
}

.s .wrapperText,
.wrapperText {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.s .description {
    font-size: 0.93rem;
    color: var(--grey);

    margin-top: -0.2rem;
}

.l .description {
    font-size: 0.93rem;
    color: var(--grey);

    margin-top: 0.3rem;
}

.s .uploadIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    background-color: var(--primary);

    border-radius: 0.7rem;

    padding: 0;
}

.l .uploadIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6rem;
    height: 5rem;
}

.l .uploadIcon svg {
    width: 8rem;
    height: 8rem;

    stroke: var(--primary);

    stroke-width: 1.4;
}

.s .uploadIcon svg {
    width: 5rem;
    height: 5rem;

    stroke: var(--white);
    stroke-width: 1.6;
}

.pictureIcon svg {
    width: 2rem;

    fill: var(--primary);
}

.deleteIcon {
    position: absolute;
    right: 1rem;
    top: 1rem;

    cursor: pointer;
}

.deleteIcon svg {
    width: 0.7rem;
    height: 0.7rem;

    fill: var(--grey);
}

.error {
    font-size: 0.875rem;

    color: var(--red);
}

.inputError {
    background: var(--red-background);
    border: 2px dashed var(--input-border, var(--red));
}

.inputError .realInput {
    color: var(--red);
    border: solid 1px var(--red);
}

.inputError:not(.l) .uploadIcon {
    background-color: var(--red);
}

.inputError:not(.s) .uploadIcon svg {
    stroke: var(--red) !important;
}