.tag {
    display: inline-block;

    box-sizing: border-box;
    margin-right: 0.3125rem;
    border-radius: 1.25rem;
}

.l {
    padding: 0.3125rem 0.625rem;

    font-size: 0.875rem;
    line-height: 0.875rem;
}

.m {
    padding: 0.3125rem 0.625rem;

    font-size: 0.75rem;
    line-height: 0.75rem;
}

.s {
    padding: 0.3125rem 0.4325rem;

    font-size: 0.625rem;
    line-height: 0.625rem;
}

.primary {
    background: var(--primary);
}

.primaryBorder {
    border: 1px solid var(--primary);
}

.red {
    color: var(--white);
    background: var(--red);

    font-weight: bold;
}

.grey {
    color: var(--white);
    background: var(--grey-light);

    font-weight: bold;
}

.green {
    color: var(--green);
    background: var(--green-light);

    font-weight: bold;
}