:root {
    --black: #3B434E;
    --white: white;
    --grey: #858585;
    --grey-light: #D3D3D3;
    --primary: #7653FC;
    --primary-hover: #5537cd;
    --red: #DE0000;
    --red-light: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --font-family: 'Noto Sans',
        sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background: #F5F6F8;

    font-family: var(--font-family);
}

a {
    text-decoration: none;

    color: inherit;
}

* {
    box-sizing: border-box;
}

@media (max-width: 1950px) {

    html,
    body {
        font-size: 16px;
    }
}

@media (max-width: 1600px) {

    html,
    body {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {

    html,
    body {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {

    html,
    body {
        font-size: 15px;
    }
}

@media (max-width: 900px) {

    html,
    body {
        font-size: 15px;
    }
}

@media (max-width: 600px) {

    html,
    body {
        font-size: 14px;
    }
}

@media (max-width: 400px) {

    html,
    body {
        font-size: 13px;
    }
}