.datepickerWrapper {
    width: 16rem;

    background: var(--white);
    border-radius: 0.6375rem;
    border: solid 1px var(--grey-light);

    padding: 0 0 20px 15px;
}

.day {
    font-size: 0.875rem;

    padding: 0.3rem;

    border: none;
    border-radius: 50%;
}

.monthLabel {
    padding-left: 5px;
    margin: 0 0 16px;

    font-size: 0.875rem;
}

.navWrapper {
    display: flex;
    justify-content: flex-end;

    margin-bottom: -1.2rem;

    z-index: 20;
}

.navButton {
    width: 0.5625rem;
    width: 0.3125rem;

    padding: 0 1.25rem;
}

.weekdayLabelsArr {
    display: grid;
    grid-template-columns: repeat(7, 1.9rem);
    /* justify-content: center; */

    margin-bottom: 0.625rem;

    font-size: 0.625rem;
}

.daysArr {
    display: grid;
    grid-template-columns: repeat(7, 1.9rem);
    /* justify-content: center; */
}

.activeMonthsArr {
    display: grid;
    grid-gap: 0 64px;

    margin: 32px 0 0;
}

.normalColor {
    color: var(--black);
    background: var(--white);
}

.selectedColor {
    color: var(--black);
    background: var(--primary-light);
}

.rangeHoverColor {
    color: var(--black);
    background: var(--primary-light);
}

.selectedFirstOrLastColor {
    color: var(--white);
    background: var(--primary);
}